*{
    margin: 0;
    
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.liste-exo{
    width: 48%;
    height: 150px;
    margin: 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(29, 19, 54);
    border-radius: 15px;
}

.liste-exo:hover{
    background-color: rgb(29, 19, 54);
    color: #fff;
}